.catalog {
  display: grid;
  justify-content: center;
  gap: $card-spacing;
  max-width: $card-width * 4 + $card-spacing * 3;
  margin: 0 auto;

  @media (max-width: 488px) {
    grid-template-columns: repeat(1, $card-width);
  }

  @media (min-width: 488px) and (max-width: 768px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
